html{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: rgb(8,0,143);
    background: linear-gradient(to bottom right, rgba(8,0,143,1) 0%, rgba(50,50,212,1) 34%, rgba(255,168,60,1) 90%) no-repeat;
}
.glowny{
    background: rgb(129,122,255);
    background: linear-gradient(to bottom right, rgba(129,122,255,1) 0%, rgba(227,227,255,1) 34%, rgba(255,202,137,1) 100%);
    border-radius: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.lewy{
    width: 35%;
    float: left;
}

.prawy{
    padding-left: 10%;
    width: 55%;
    text-align: left;
    font-size: 25px;
    float: right;
    font-weight: 900;
    color: white;
    font-family: 'Franklin Gothic Medium';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.photo1{
    border-radius: 4%;
    width: 120%;
}

footer{
    width: 100%;
    margin-top: 3%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255,168,60,1);
    
}

main{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.photo2{
    width: 84%;
    border-radius: 17%;
}

footer p{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    padding-left: 1%;
    text-align: left;
}

.bootstrap{
    list-style: none;
    padding: 5px;
    border-bottom: 2px solid rgba(255,168,60,1);
    padding-bottom: 10px;
}

li{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    display: inline;
    padding: 10px;
}

li:hover{
    border-radius: 20px;
    text-shadow: 0 0 10px rgba(255,168,60,1);
}

.onas{
    text-align: center;
    width: 100%;
}

.onas a{
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* .maps{
    padding: 5%;
} */

.dane{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.kontakt{
    display: inline;
}

.copyright{
    font-size: 10px;
}